/*  your css code here. If applicable */
#yellow{
	border-width:1px;
	background-color:yellow;
	border:3px solid green;
}
#red{
	border-width:1px;
	background-color:red;
	border:3px solid black;
	
}
#green{
	border-width:1px;
	background-color:green;
	border:3px solid yellow;
}
